# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
*.moved-aside
DerivedData
.idea/
*.xccheckout
fastlane/README.md
fastlane/report.xml
fastlane/test_output/results.xml
Pods/Alamofire
Pods/BonMot
Pods/FLEX
Pods/Crashlytics
Pods/Fabric
Pods/JTAppleCalendar
Pods/KeychainAccess
Pods/Kingfisher
Pods/RxCocoa
Pods/RxRelay
Pods/RxSwift
Pods/SnapKit
Pods/SwiftLint
Pods/SwiftSVG
Pods/Swinject
Pods/Moya
Pods/SwiftSVG
Pods/SVGKit
Pods/PhoneNumberKit
Pods/CryptoSwift
Pods/CocoaLumberjack